.NavLink {
  color: #afb3b8;
  /* text-shadow: 1px 1px 2px #385170; */
  text-decoration: none;
  /* color: #142d4c; */
  font-weight: 700;
  font-size: 21px;
}

.NavLink:global(.active) {
  color: #22436b;
  text-shadow: 2px 2px 3px #ffee7d;
  font-size: 23px;
}

.NavLink:not(:last-child) {
  margin-right: 15px;
}
.navMenu {
  width: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navList {
  padding: 0;
  text-align: end;
  margin: 0;
}
